<div class="container">
  <div class="wrapper">
    <div class="row">
      
      <div class="col-xs-12 text-center">

        <%= link_to new_user_session_path do %>
        <div class="circle circle_small">
          <div>
            <i class="fa fa-sign-in"></i> Sign in
          </div>
        </div>
        <% end %>

        <%= link_to new_user_registration_path do %>
        <div class="circle circle_small">
          <div>
            <i class="fa fa-plus-circle"></i> Sign up
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
