/*Global*/

.wrapper {
  width:100%;
  height:90vh;
  /*line-height:70vh;*/
}

.circle {
  display: inline-block;
  border-radius: 50%;
  background-color: #CC4E5C;
  color:white;
  border:5px solid #CC4E5C;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.circle_big{
  width:400px;
  height:400px;
  padding-top:100px;
  font-size: 16px;
  color:black;
  margin-top:20vh;
}

.circle_small {
  width:200px;
  height:200px;
  line-height: 200px;
  margin:0px 15px;
  font-size: 30px;
}

.circle_small:hover{
  background-color: #CC1100;
}

.circle_icon {
  width:10px;
  height:10px;
  border:none;

}

.field {
  margin:10px 0px;
}

#user_email, #user_password, #user_password_confirmation {
  width:65%;
}


/*Homepage*/

.calendar_list{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

/*Calendar Page*/

.calendar_heading {
  /*background-color: #CC4E5C;*/
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
}

.calendar_heading a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color:inherit;
}

.calendar_heading{
  padding:0px 10px;
}

.calendar_name {
  text-decoration: underline;
}

.calendar_body {
  height:500px;
  overflow:scroll;
  white-space: normal;
  padding:0px 15px;
}

.event_time {
  vertical-align: top;
  display:inline-block;
  width:130px;
  padding-right: 15px;
  padding-left: 15px;
}

.event_descrip {
  border-left: 1px solid #CC4E5C;

  display:inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.event_detail {
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
}
